body {
  margin: 0;
  padding: 0;
  background-color:rgb(211, 211, 237);
}


.container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  margin-top: 15px;
}

.contact {
  justify-content: end;
}
.contact a img {
  height: 40px;
  width: 40px;
  margin: 5px;
}
.head-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-title h1 {
  margin: 5px;
}

.task-info {
  display: flex;
  justify-content: space-between;
}
.task-info h2 {
  margin-inline: 40px;
}
.task-input {
  margin-block: 5px;
}
.task-input input {
  margin-right: 10px;
  height: 40px;
  width: 300px;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 5px;
}
.task-input input:hover {
  background-color: cyan;
}
.task-input button {
  margin-left: 10px;
  height: 40px;
  width: 40px;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 5px;
}
.task-input button:hover {
  background-color: cyan;
}


.list-card {
  border: solid black 1px;
  border-radius: 5px;
  list-style: none;
  background-color: rgb(78, 36, 36);
  margin: 8px;
  padding: 10px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  color: white;
}

.list-card:hover {
  background-color: rgb(50, 22, 22);
}
.list-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-card span {
  font-size: x-large;
}

.done-btn {
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border-radius: 5px;
  color: white;
  padding: 5px;
  cursor: pointer;
}
.dlt-btn {
  background-image: linear-gradient(144deg, #ec3636, #df0e0e 50%, #5b7f08);
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}
